<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List</title>
    </head>
    <body>
        {% for restaurant in restaurants %}
            
                <ul>
                    <li>
                        <a href=" {% url 'restaurant-detail' restaurant.id %}">
                            <h1> {{ restaurant.name }}</h1> </a>
                    </li>
                    <li>
                        <p> {{ restaurant.description }} </p>
                    </li>
                </ul>
            </a>
        {% endfor %}
    </body>
</html>
